# Make your own passwords!! Use open SSL to generate your own secret.
# ie. open terminal and type: openssl rand -base64 48 | tr -dc 'A-Za-z0-9!@#$%^&*()_+=' | head -c 32

# Domain/host name
DOMAIN_HOST=""

## Postgres
POSTGRES_USER="admin"
POSTGRES_PASSWORD=""
POSTGRES_DB="hive-db"

# Admin Email
ADMIN_EMAIL=""

# openssl rand -base64 48 | tr -dc 'A-Za-z0-9!@#$%^&*()_+=' | head -c 32
ADMIN_PASSWORD=""

USE_MANUAL_CERTS=true
